<!DOCTYPE html>
<html lang="es">
    <head> 
        <%- include('../partials/header.ejs'); %>
        <link rel="stylesheet" href="static/css/catalogo.css">
        <link rel="stylesheet" href="static/css/admin/pasteles.css">
    </head>
    <body>
        <%- include('../partials/nav.ejs'); %>

        <center>
            <h1>Pasteles</h1>

            <section>
                <div class="menu">
                    <div class="opciones" id="opt1" onclick="catalogo1()">Agregar nuevo Pastel</div>
                    <div class="opciones" id="opt2" onclick="catalogo2()">Horneado</div>
                    <div class="opciones" id="opt3" onclick="catalogo3()">Frío</div>
                    <div class="opciones" id="opt4" onclick="catalogo4()">Yogurt</div>
                    <div class="opciones" id="opt5" onclick="catalogo5()">Helado</div>
                </div>
                <div class="pestañas">
                    <div class="opt" id="no1">
                        <div class="sect">
                            <form action="/guardar_pastel" method="POST" enctype="multipart/form-data">
                                <div class="cont_form">
                                    <div class="producto">
                                        <div>
                                            <label for="producto">Producto:</label>
                                            <input type="text" id="producto" name="producto">
                                        </div>
                                        <div>
                                            <label for="categoria">Categoría:</label>
                                            <select name="categoria" id="categoria">
                                                <%  resultados_categoria.forEach(function(resultados_categoria) { %> 
                                                    <option value="<%= resultados_categoria.id_categoria %>"><%= resultados_categoria.categoria %></option>
                                                <% }) %>     
                                            </select>
                                        </div>
                                        <div >
                                            <label for="descripcion">Descripción:</label>
                                            <textarea cols="30" rows="4" id="descripcion" name="descripcion"></textarea>
                                        </div>
                                        <div >
                                            <label for="ingredientes">Ingredientes:</label>
                                            <textarea cols="30" rows="4" id="ingredientes" name="ingredientes"></textarea>
                                        </div>
                                        <div style="display: flex;">
                                            <div>
                                                <label for="cantidad">Catidad:</label>
                                                <input type="number" id="cantidad" name="cantidad">
                                            </div>
                                            <div>
                                                <label for="precio">Precio:</label>
                                                <input type="text" id="precio" name="precio">
                                            </div>
                                            <div>
                                                <label for="fecha">Fecha de ingreso:</label>
                                                <input type="date" id="fecha" name="fecha">
                                            </div>
                                        </div>
                                        <button type="input">Guardar</button>
                                    </div>
                                    <div class="form_contenido">
                                        <div>                            
                                            <div class="imagen">
                                                <div class="img">
                                                    <center>
                                                        <img class="img_cont" id="imagenPrevia" src="" alt="Previsualización de la imagen">
                                                    </center>
                                                </div>
                                                <input type="file" id="archivo" name="archivo" accept="image/*" onchange="previsualizarImagen()">

                                            </div>  
                                        </div>
                                    </div>
                                    
                                </div>  
                                <% if (mensaje) { %>
                                    <div id="msg" style="width: 300px; padding: 5px; margin: 5px; border-radius: 20px; background-color: rgb(165, 250, 189);">
                                        <%= mensaje %>
                                    </div>
                                <% } %>    
                            </form>
                        </div>
                    </div>

                    <div class="opt" id="no2">
                        <%  resultados_pasteles.forEach(function(resultados_pasteles) { %> 
                            <% if (resultados_pasteles.id_categoria == 1) { %>
                                <div class="productos">
                                    <div class="titulo">
                                        <h3><%= resultados_pasteles.nombre_pastel %></h3>
                                    </div>
                                    <div class="imagen">
                                        <img src="static/images/img_pasteles/<%= resultados_pasteles.imagen %>" 
                                             alt="<%= resultados_pasteles.nombre_pastel %>" 
                                             width="200px"
                                             height="125px">
                                        
                                    </div>
                                    <div class="precio">
                                        <h3>Q<%= resultados_pasteles.precio %></h3>
                                    </div>
                                    <div class="footer_producto">
                                        <a href="/producto_editar/<%= resultados_pasteles.id_pastel %>">
                                            <div class="boton" id="editar">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </div>
                                        </a>
                                        <a href="/inventario/<%= resultados_pasteles.id_pastel %>">
                                            <div class="boton" id="inventario">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="boton" id="eliminar">
                                                <i class="fa-solid fa-trash"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            <% } %>   
                        <% }) %>        
                    </div>

                    <div class="opt" id="no3">
                        <%  resultados_pasteles.forEach(function(resultados_pasteles) { %> 
                            <% if (resultados_pasteles.id_categoria == 2) { %>
                                <div class="productos">
                                    <div class="titulo">
                                        <h3><%= resultados_pasteles.nombre_pastel %></h3>
                                    </div>
                                    <div class="imagen">
                                        <img src="static/images/img_pasteles/<%= resultados_pasteles.imagen %>" 
                                             alt="<%= resultados_pasteles.nombre_pastel %>" 
                                             width="200px"
                                             height="125px">
                                    </div>
                                    <div class="precio">
                                        <h3>Q<%= resultados_pasteles.precio %></h3>
                                    </div>
                                    <div class="footer_producto">
                                        <a href="/producto_editar/<%= resultados_pasteles.id_pastel %>">
                                            <div class="boton" id="editar">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </div>
                                        </a>
                                        <a href="/inventario/<%= resultados_pasteles.id_pastel %>">
                                            <div class="boton" id="inventario">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="boton" id="ofertas">
                                                <i class="fa-solid fa-trash"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            <% } %>   
                        <% }) %>  
                    </div>

                    <div class="opt" id="no4">
                        <%  resultados_pasteles.forEach(function(resultados_pasteles) { %> 
                            <% if (resultados_pasteles.id_categoria == 3) { %>
                                <div class="productos">
                                    <div class="titulo">
                                        <h3><%= resultados_pasteles.nombre_pastel %></h3>
                                    </div>
                                    <div class="imagen">
                                        <img src="static/images/img_pasteles/<%= resultados_pasteles.imagen %>" 
                                             alt="<%= resultados_pasteles.nombre_pastel %>" 
                                             width="200px"
                                             height="125px">
                                    </div>
                                    <div class="precio">
                                        <h3>Q<%= resultados_pasteles.precio %></h3>
                                    </div>
                                    <div class="footer_producto">
                                        <a href="/producto_editar/<%= resultados_pasteles.id_pastel %>">
                                            <div class="boton" id="editar">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </div>
                                        </a>
                                        <a href="/inventario/<%= resultados_pasteles.id_pastel %>">
                                            <div class="boton" id="inventario">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="boton" id="ofertas">
                                                <i class="fa-solid fa-trash"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            <% } %>   
                        <% }) %>  
                    </div>

                    <div class="opt" id="no5">
                        <%  resultados_pasteles.forEach(function(resultados_pasteles) { %> 
                            <% if (resultados_pasteles.id_categoria == 4) { %>
                                <div class="productos">
                                    <div class="titulo">
                                        <h3><%= resultados_pasteles.nombre_pastel %></h3>
                                    </div>
                                    <div class="imagen">
                                        <img src="static/images/img_pasteles/<%= resultados_pasteles.imagen %>" 
                                             alt="<%= resultados_pasteles.nombre_pastel %>" 
                                             width="200px"
                                             height="125px">
                                    </div>
                                    <div class="precio">
                                        <h3>Q<%= resultados_pasteles.precio %></h3>
                                    </div>
                                    <div class="footer_producto">
                                        <a href="/producto_editar/<%= resultados_pasteles.id_pastel %>">
                                            <div class="boton" id="editar">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </div>
                                        </a>
                                        <a href="/inventario/<%= resultados_pasteles.id_pastel %>">
                                            <div class="boton" id="inventario">
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </a>
                                        <a href="">
                                            <div class="boton" id="ofertas">
                                                <i class="fa-solid fa-trash"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            <% } %>   
                        <% }) %>  
                    </div>
                </div>
            </section>
        </center>

        
    </body>
    <script src="static/js/catalogo.js"></script>
    <script>
        function previsualizarImagen() {
            let input = document.getElementById('archivo');
            let imagenPrevia = document.getElementById('imagenPrevia');
            let file = input.files[0]; // Obtén el primer archivo seleccionado

            if (file) {
                let reader = new FileReader();
                
                reader.onload = function(e) {
                imagenPrevia.src = e.target.result; 
                };

                reader.readAsDataURL(file);
            } else {
                imagenPrevia.src = ""; 
            }
        }
    </script>
</html>