<!DOCTYPE html>
<html lang="es">
    <head> 
        <%- include('../partials/header.ejs'); %>
        <link rel="stylesheet" href="/static/css/vista_producto.css">
    </head>
    <body>
        <%- include('../partials/nav.ejs'); %>
        <section>
            <h1 style="text-align: center;"><%= resultados_pasteles.nombre_pastel %></h1>
        <div class="sect">
            <form action="/editar_producto" method="POST" >
                <div class="cont_form">
                    <div class="producto">
                        <input type="hidden" value="<%= resultados_pasteles.id_pastel %>" name="id">
                        <input type="hidden" value="<%= resultados_pasteles.id_categoria %>" name="categoria">
                        <input type="hidden" value="<%= resultados_pasteles.cantidad %>" name="cantidad">
                        <input type="hidden" value="<%= resultados_pasteles.imagen %>" name="imagen">
                        <input type="hidden" value="<%= resultados_pasteles.fecha %>" name="fecha">
                        <div>
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" value="<%= resultados_pasteles.nombre_pastel %>">
                        </div>
                        <div >
                            <label for="descripcion">Descripción: </label>
                            <textarea cols="30" rows="4" id="descripcion" name="descripcion"><%= resultados_pasteles.descripcion %></textarea>
                        </div>
                        <div >
                            <label for="ingredientes">Ingredientes:</label>
                            <textarea cols="30" rows="4" id="ingredientes" name="ingredientes"><%= resultados_pasteles.ingredientes %></textarea>
                        </div><div >
                            <label for="precio">Precio:</label>
                            <input type="text" id="precio" name="precio" value="<%= resultados_pasteles.precio %>">
                        </div>
                        <div style="display: flex;">
                            <button type="input">Editar</button>
                            <a class="cancelar" href="/pasteles">Cancelar</a>
                        </div>
                    </div>
                    <div class="form_contenido">
                        <div>                            
                            <div class="imagen">
                                <div class="img">
                                    <center>
                                        <img class="img_cont" id="imagenPrevia" src="/static/images/img_pasteles/<%= resultados_pasteles.imagen %>" alt="Previsualización de la imagen">
                                    </center>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <%- include('../partials/footer.ejs'); %>
    </body>
</html>